body { 
	padding-top: 70px; 
	color: #292b2c; 
	background-color: #f5f8fa;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.container-fluid{
  padding: 0 75px;
}
h6 {
  font-family: inherit;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.2;
  color: inherit;
}
/**  NAVBAR **/
.right {
  float: right;
}
.navbar-default {
	background-color: #d42222;
}
.navbar-default .navbar-brand {
  color: #fff;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color: #fff;
   background-color: transparent;
}
.navbar-default .navbar-nav>li>a {
	color: #fff;
  font-weight: 600;
}
.navbar-default .navbar-nav>li>a:hover {
	background-color: #bf1919;
  color: #fff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #bf1919;
}
.navbar-fixed-top {
  top: 0;
  border-width: 0;
}
.popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1060;
    display: block;
    max-width: 276px;
    padding: 1px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-break: auto;
    line-height: 1.6;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    white-space: normal;
    word-break: normal;
    word-spacing: normal;
    font-size: 0.875rem;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d4dbe0;
    border-radius: 0.3rem;
}
/** POPOVER **/
#userinfo-desp {
  min-width: 150px;
}
#userinfo-desp .userinfo-content {
  overflow: hidden;
  padding: 0;
}
#userinfo-desp .userinfo-content a {
  padding: 2px 15px;
  display: block;
  cursor: pointer;
  text-decoration: none;
}
#userinfo-desp .userinfo-content a:hover {
    background: #f7f7f7;
}
.box-pop {
  position: relative;
  margin-bottom: 1em;
  background-color: white;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: 1px solid #ccc;
}
.desplegable {
  display: none;
  min-width: 400px;
  right: 75px;
  top: 50px;
  z-index: 1036;
  line-height: 20px;
  padding: 0px;
}
.desplegable.desplegado {
  display: block;
  position: absolute;
  background: white;
  box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.6);
}
.desplegable.desplegado:before {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  right: 10px;
  width: 10px;
  height: 10px;
  background: #F7F7F7;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.desplegable .title {
  padding: 5px;
  padding: 5px 10px;
  background: #F7F7F7;
  border-bottom: 1px solid #bbb;
}
.closeX {
  display: inline-block;
  float: right;
  font-weight: bold;
  padding: 0px 4px;
  color: #aaa;
  cursor: pointer;
}
/** DIVS **/
.box {
  margin-bottom: 1.5rem;
}
.out-box{
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.p_top {
  padding-top: 1.5rem !important; 
}
.by {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px; 
}
@media (min-width: 576px) {
  .by {
      padding-right: 15px;
      padding-left: 15px; } 
}
@media (min-width: 768px) {
  .by {
      padding-right: 15px;
      padding-left: 15px; } 
}
@media (min-width: 992px) {
  .by {
      padding-right: 15px;
      padding-left: 15px; } 
}
@media (min-width: 1200px) {
  .by {
      padding-right: 15px;
      padding-left: 15px; } 
}
@media (min-width: 992px) {
  .by {
      width: 990px;
      max-width: 100%; } 
}
@media (min-width: 1200px) {
  .by {
      width: 1230px;
      max-width: 100%; } 
}
.contenido-box {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}
.h6-title {
  margin-bottom: 1rem !important;
  margin-top: 3px;
}
.bqq .rr {
  margin-bottom: 5px; 
}
.rr {
  margin-bottom: 0.75rem; 
}
.bqq .rv {
  height: 150px;
  background-size: cover; 
}
.rv {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: #f7f7f9;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125); 
}
.rv:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0; 
}
.awx {
  text-align: center !important;
}
.rq {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}
.bqr {
  max-width: 100px;
  margin-top: -70px;
  margin-bottom: 5px;
  border: 3px solid #fff;
  border-radius: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
/* DIV USUARIO */
.afx {
  margin-left: 0.5rem !important;
}
.bpq img {
  height: 35px;
  width: 35px;
}
.bpq {
  padding: 0;
  border: 0;
  background: transparent;
  outline: none !important;
  box-shadow: none !important;
}
.cg {
  display: inline-block;
  font-weight: normal;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.wg {
  border-radius: 50%;
}
/** FORMULARIO BUSQUEDA **/
#globalSearch input {
  padding: 6px 7px;
  font-size: 0.9em;
  border: none;
  width: 200px;
  height: 30px;
}
i#lop{
  display: inline;
  top: 1px;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  margin-top: 0;
}
button#topsearch {
  font-size: 18px;
  padding: 0.1em 1em 0.2em;
  height: 28px;
}
button[type=submit]:hover{
  background: #d03131;
  color: #fff;
}
button[type=submit], .dropdownContainer.blue {
  background: #d24242;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border: none;
  color: white;
  padding: 0.5em 1.5em;
  font-size: 1em;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 300;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -ms-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}


.list {
  padding-left: 0;
  list-style: none; 
}
.list li {
  margin-bottom: 5px; }
.list-span {
  color: #636c72 !important;
  margin-right: 1rem !important;
}
.bbu:before {
    content: "\EA3D";
}
.h:before {
    position: relative;
    top: 2px;
    display: inline-block;
    font-family: "toolkit-entypo";
    speak: none;
    font-size: 100%;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

