body { 
	padding-top: 70px; 
	color: #292b2c; 
	background-color: #f5f8fa;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h6 {
  font-family: inherit;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.2;
  color: inherit;
}
/**  NAVBAR **/
.navbar-default {
	background-color: #3097D1;
}
.navbar-default .navbar-brand {
    color: #fff;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #fff;
    background-color: transparent;
}
.navbar-default .navbar-nav>li>a {
	color: rgba(255, 255, 255, 0.5);
}
.navbar-default .navbar-nav>li>a:hover {
	color: rgba(255, 255, 255, 0.8);
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #3289b9;
}

/** DIVS **/
.box {
  margin-bottom: 1.5rem;
}
.out-box{
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.p_top {
  padding-top: 1.5rem !important; 
}
.by {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px; 
}
@media (min-width: 576px) {
  .by {
      padding-right: 15px;
      padding-left: 15px; } 
}
@media (min-width: 768px) {
  .by {
      padding-right: 15px;
      padding-left: 15px; } 
}
@media (min-width: 992px) {
  .by {
      padding-right: 15px;
      padding-left: 15px; } 
}
@media (min-width: 1200px) {
  .by {
      padding-right: 15px;
      padding-left: 15px; } 
}
@media (min-width: 992px) {
  .by {
      width: 990px;
      max-width: 100%; } 
}
@media (min-width: 1200px) {
  .by {
      width: 1230px;
      max-width: 100%; } 
}
.contenido-box {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}
.h6-title {
  margin-bottom: 1rem !important;
  margin-top: 3px;
}
.bqq .rr {
  margin-bottom: 5px; 
}
.rr {
  margin-bottom: 0.75rem; 
}
.bqq .rv {
  height: 150px;
  background-size: cover; 
}
.rv {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: #f7f7f9;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125); 
}
.rv:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0; 
}
.awx {
  text-align: center !important;
}
.rq {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}
.bqr {
  max-width: 100px;
  margin-top: -70px;
  margin-bottom: 5px;
  border: 3px solid #fff;
  border-radius: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.dq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }
  @media (min-width: 576px) {
    .dq {
      margin-right: -15px;
      margin-left: -15px; } }
  @media (min-width: 768px) {
    .dq {
      margin-right: -15px;
      margin-left: -15px; } }
  @media (min-width: 992px) {
    .dq {
      margin-right: -15px;
      margin-left: -15px; } }
  @media (min-width: 1200px) {
    .dq {
      margin-right: -15px;
      margin-left: -15px; } 
}



.list {
  padding-left: 0;
  list-style: none; 
}
.list li {
  margin-bottom: 5px; }
.list-span {
  color: #636c72 !important;
  margin-right: 1rem !important;
}
.bbu:before {
    content: "\EA3D";
}
.h:before {
    position: relative;
    top: 2px;
    display: inline-block;
    font-family: "toolkit-entypo";
    speak: none;
    font-size: 100%;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

